<form method="post" action="@{toMaster loginR}">
  <input type=hidden name=#{defaultCsrfParamName} value=#{token}>
  <div .form-group>
    <label>ユーザー
    <input type=text name=username required .form-control>
  <div .form-group>
    <label>パスワード
    <input type=password name=password required .form-control>
  <button type=submit .btn .btn-success .btn-imp>ログイン
  <hr>
