<a href=@{SchoolNewR} .btn .btn-primary>
  <span .glyphicon .glyphicon-plus>
  学校を追加

<table.schools.table.table-striped>
  <thead>
    <tr>
      <th>学校名
      <th>
      <th>
  <tbody>
  $forall sc <- schools
    <tr>
      <td>#{schoolName $ _siSchool sc}
      <td>
        <a href=@{SchoolEditR $ installationSchoolId $ _siInstallation sc} .btn.btn-default>
          <span .glyphicon.glyphicon-pencil>
      <td>
        <button type="button" .delete-button .btn.btn-danger>
          <span .glyphicon.glyphicon-trash>
          <a .hidden href=@{SchoolR $ installationSchoolId $ _siInstallation sc}>
